main {
    width: 80%;
    margin: auto;
    text-align: center;
}

h1 {
    text-decoration: underline;
}

#colored-div {
    width: 100px;
    height: 100px;
    margin: auto;
    border: 1px solid black;
}
